@import "row.scss";

.requestRow{
    text-align: left;

    .requestResource{
        font-weight: bolder;
    }

    .requestQuantity{
        color: lightgrey !important;
        font-style: italic;
    }
}
