@import "row.scss";

.resourceRow{
    text-align: left;
    overflow: hidden;

    .resourceQuantity{
        color: lightgrey !important;
        font-style: italic;
    }

    .ui.label {
        margin: 2px;
    }

    .button{
        font-size: 11px !important;
    }
}
