.list-row {
    $bgColor: #fff;
    $bgHoverColor: darken(#fff, 1);
    $height: 3rem;
    $spacing: 1px;
    $transitionTime: 0.2s;

    padding: 0.2rem;
    height: $height;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    background-color: $bgColor;
    margin: 1px;
    transition: all $transitionTime ease;

    opacity: 0.9;

    &:hover {
        background-color: $bgHoverColor;
        border-bottom: 1px solid #ddd;
        opacity: 1;
        transition: all $transitionTime ease;
    }

    &__content {
        white-space: nowrap;
        overflow: hidden;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__actions {
        white-space: nowrap;
        button {
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            border: none;
            
            transition: background-color $transitionTime ease;

            &:hover {
                transition: background-color $transitionTime ease;
            }

            &:last-child {
                margin-right: unset;
            }
        }

        &__edit {
            background-color: #2b2;

            &:hover {
                background-color: green;
            }
        }

        &__delete {
            background-color: #e22;

            &:hover {
                background-color: red;
            }
        }
    }

   
}

.content > .description {
    margin-bottom: 2px;
}
