.list {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  .title {
    line-height: 2.5rem;
  }

  .transparent {
    visibility: hidden;
  }
}
.confirmDialog .ui.primary.button {
  background-color: #db2828;
}

.quantity-slider {
  margin-top: 2em;
}

.colorLabel {
  margin-top: 1em;
  margin-bottom: 1em;
}
